<%% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%%= link_to "Home", root_path %></li>
    <li class="active"><%= plural_table_name.titleize %></li>
  </ul>
<%% end %>

<div class="green-header">
  <h1><%= plural_table_name.titleize %></h1>
</div>
<ul class="nav tab-header">
  <li class="active"><a href="#index" data-toggle="tab"><%= plural_table_name.titleize %></a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="index">
    <%% table_actions = capture do %>
      <%%= link_to  new_<%= singular_table_name %>_path, remote: true, class: 'table-btn' do %>
        <span class="z-icon-add"></span>
      <%% end %>
    <%% end %>
    <%%= render_datatable(<%= controller_class_name.singularize %>, <%= singular_table_name %>s_path(format: "json"), :table_actions => table_actions) %>
  </div>
</div>
