<%% if request.format == :html %>
  <%%  render(:file=>"<%= controller_class_name.to_s.pluralize.underscore %>/index", locals: {}, :formats => [:html] ) %>
<%% end %>

<%% content_for :modal do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><%= singular_table_name.titleize %></h2>
      </div>
      <div class="overlay">
        <span id="loading_form_icon" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p id="notice"><%%= notice %></p>
          </div>
          <div class="col-md-12">
           <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <p>
              <strong><%= attribute.human_name %>:</strong>
              <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
            </p>
            <% end -%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="zuo-btn secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<%% end %>

<%% content_for :scripts do %>
  $('#z_hub_modal').modal("show");
<%% end %>
